<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verses</title>

    <link rel="stylesheet" href="/css/style.css"/>
    
</head>
<body class="bg-blue-700">
    <div class="container">

        <!--Buttons-->
        <button class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded">Find Friends</button>
    
        <button class="bg-blue-500 btn">hello</button>

        <!--ALERT COMPONENT-->
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative my-5">
            <strong class="font-bold">Alert</strong>
            <span class="block sm:inline">Please update your password</span>
        </div>

        <!--Card-->
        <div class="max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-xl">
            <div class="ml-6 pt-1">
                <h4 class="text-xl text-gray-900"> Verses App</h4>
                <p class="text-base text-gray-600">
                    You have a message
                </p>
            </div>
        </div>
    </div>
</body>
</html>