<!--Entry Card-->
<div class="custom-card px-3 py-2 md:px-6 md:py-6">
    <!--Internal Flex-->
    <div class="flex items-center space-x-4 justify-center md:space-x-0 md:justify-between pl-0 md:pl-3">
        <!--Left Text Section-->
        <div class="md:pt-1 space-y-1 md:space-y-3 w-8/12">
            <!--Container-->
            <h4 class="ml-1 md:ml-0 text-base md:text-xl font-normal text-gray-900">
                <span class="hidden md:inline"><%= data.date.toLocaleString('default', { weekday: 'long'}); %></span>
                <span><%= data.date.toLocaleString('default', {year: 'numeric', month: 'long', day: 'numeric' }); %></span>
            </h4>
            
            <div class="inline-flex items-center space-x-1 md:space-x-3 max-w-full overflow-x-scroll no-scrollbar">
                <p class="text-xs font-normal md:text-base text-white bg-gradient-to-r from-indigo-500 to-indigo-500 px-2 md:px-3.5 py-0.5 rounded-full whitespace-nowrap"><%= data.book %></p>
                <p class="text-xs font-normal md:text-base text-white bg-gradient-to-r from-indigo-500 to-indigo-500 px-2 md:px-3.5 py-0.5 rounded-full whitespace-nowrap"><%= data.chapters.length %> Chapters</p>
            </div>
        </div>
        <!--Right Button Section-->
        <div class="flex space-x-2 md:space-x-4 items-center flex-row">
            <!--Edit-->
            <button type="button" class="inline-flex items-center px-3 md:px-4 py-1 md:py-2 border border-gray-300 rounded-md shadow-sm text-xs md:text-sm font-medium text-gray-700 bg-white hover:bg-gray-100 ">
                <!-- Heroicon name: solid/pencil -->
                <svg class="-ml-1 mr-2 h-4 w-4 md:h-5 md:w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M13.586 3.586a2 2 0 112.828 2.828l-.793.793-2.828-2.828.793-.793zM11.379 5.793L3 14.172V17h2.828l8.38-8.379-2.83-2.828z" />
                </svg>
                Edit
            </button>
            <!--View-->
            <button type="button" class="inline-flex items-center px-3 md:px-4 py-1 md:py-2 border border-transparent rounded-md shadow-sm text-xs md:text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700">
                <!-- Heroicon name: solid/eye -->
                <svg class="-ml-1 mr-2 h-4 w-4 md:h-5 md:w-5"  xmlns="http://www.w3.org/2000/svg"viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 12a2 2 0 100-4 2 2 0 000 4z" />
                    <path fill-rule="evenodd" d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z" clip-rule="evenodd" />
                  </svg>
                View
            </button>
        </div>
    </div>
    
</div>